#education{
    .row{
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        .column-three{
            flex: 1;
            text-align: center;
            padding: 50px;
            img{
                max-width: 20%;
            }
        }
    }
}