<section id="education">
    <div class="container">
        <div class="row">
            <div class="column-three">
                <img src="/assets/img/GAMF.png" alt="">
                <h3>2011-2015</h3>
                <h5>Kecskeméti Főiskola GAMF kar</h5>
                <p>Mérnökinformatikus - Ipari informatika és mikrovezérlők</p>
            </div>
            <div class="column-three">
                <img src="/assets/img/GAMF.png" alt="">
                <h3>2011-2015</h3>
                <h5>Kecskeméti Főiskola GAMF kar</h5>
                <p>Mérnökinformatikus - Ipari informatika és mikrovezérlők</p>
            </div>
            <div class="column-three">
                <img src="/assets/img/GAMF.png" alt="">
                <h3>2011-2015</h3>
                <h5>Kecskeméti Főiskola GAMF kar</h5>
                <p>Mérnökinformatikus - Ipari informatika és mikrovezérlők</p>
            </div>
        </div>
    </div>
</section>