@import "../../variables.scss";
.navbar {
    position: absolute;
    width: 100%;
    background: $header-background;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 22px 0;
    transition: padding 0.3s linear;
    -webkit-transition: padding 0.3s linear;
    z-index: 999;
  }
  .top-navbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        color: #fff;
        text-decoration: none;
    }
  }
  .navbar > .container {
    height: auto;
    display: flex;
    align-items: center;
    @media (min-width: 991px){
        justify-content: space-around;
    }
  }
  .navbartop-btn:hover .mat-button-focus-overlay {
    display: none;
  }
  .navbar:not(.navbar-fixed) .navbartop-btn .mat-button-ripple {
    top: -22px;
    bottom: -22px;
  }
  
  .navbar-fixed {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 !important;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    animation: .6s slideDown forwards;
  }
  .navbar-fixed .container {
    height: 60px !important;
  }
  .navbar-fixed .navbartop-btn {
    line-height: 60px !important;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    img{
        width: 50px;
        height: 50px;
    }
  }
  .navbar-toggle {
    display: none !important;
    position: absolute !important;
    right: 5px;
    top: 12px;
  }
  .icon-button {
    .mat-icon {
      font-size: 20px;
    }
  }

  @media (max-width: 991px) {
  
    .navbar {
      padding: 0;
    }
    .navbar > .container {
        height: 60px;
        padding: 0;
        flex-flow: row wrap;
    }
    .navbar-opened .navbar-mobile-top {
      padding: 5px 0;
    }
   .navbar-toggle {
        display: block !important;
        width: 40px;
        height: 5px;
        margin: 10px;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        span{
            display:block;
            position:absolute;
            height: 5px;
            width:100%;
            background:#fff;
            border-radius: 20px;
            opacity:1;
            margin-top:-5px;
            left:0;
            transform:rotate(0deg);
            transition:0.25s ease-in-out;
        }
        span:nth-child(1){
            top:0px;
          }
          
          span:nth-child(2),
          span:nth-child(3){
            top:10px;
          }
          
          span:nth-child(4){
            top:20px;
          }
          
    }
    .navbar-opened .container {
        height: auto !important;
        padding: 0px !important;
    }
    .navbar-logo {
        margin-left: 15px; 
    }
    .top-navbar {
        display: none !important;
    }
    .navbar-opened {
        .top-navbar {
            display: block !important;
            width: 100% !important;
            height: auto;
            flex: none !important;
            color: #000;
            background: $header-background;
        }
        span:nth-child(1){
            top:15px;
            width:0;
            left:50%;
          }
          
          span:nth-child(2){
            transform:rotate(45deg);
          }
          
          span:nth-child(3){
            transform:rotate(-45deg);
          }
          
          span:nth-child(4){
             top:18px;
            width:0;
            left:50%;
          }
    }
    .navbar-opened .top-navbar a {
        display: block;
        width: 100%;
        line-height: 56px !important;
        text-align: center;
    }
  }