#contact{
    padding: 100px 0;
    h2{
        text-align: center;
    }
    .icons{
        padding: 50px 0;
        .contact-icons{
            display: flex;
            justify-content: space-around;
            img{
                max-width: 80px;
            }
        }
    }
    .contact-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .form-group{
            input,
            textarea{
                width: 700px;
                padding: 10px;
                margin-top: 20px; 
                @media (max-width: 992px) {
                    width: 70vw;
                }
            }
            textarea{
                height: 100px;
                resize: none;
            }
        }
        input[type=submit]{
            margin-top: 40px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}