<section id="contact">
    <div class="container">
        <div class="row">
            <h2>Kapcsolat</h2>
        </div>
        <div class="row icons">
            <div class="contact-icons">
                <img src="/assets/img/GAMF.png" alt="">
                <img src="/assets/img/GAMF.png" alt="">
                <img src="/assets/img/GAMF.png" alt="">
                <img src="/assets/img/GAMF.png" alt="">
            </div>
        </div>
        <div class="row">
            <form class="contact-form">
                <div class="form-group">
                    <input type="text" class="form-control" name="Name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="Email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <textarea type="message" class="form-control" name="Message" placeholder="Message"></textarea>
                </div>
                <input id="submit_button" type="submit" class="form-control" value="Send email" />
            </form>
        </div>
    </div>
</section>
