<section id="timeline" href="#timeline" class="cv-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-titles">Tapasztalat</h2>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-container">
            <div class="timeline-point">
                <img src="/assets/img/work-icon.png" alt="">
            </div>
                <div @fadeLeft class="container timeline-left">
                        <div class="content">
                            <h2>2011-2015</h2>
                            <h5>Kecskeméti Főiskola GAMF kar</h5>
                            <p class="specialization">Mérnökinformatikus - Ipari informatika és mikrovezérlők</p>
                        </div>
                    </div>
                </div>
        <div class="timeline-container">
            <div class="timeline-point">
                <img src="/assets/img/work-icon.png" alt="">
            </div>
            <div @fadeRight class="container timeline-right">
                <div class="content">
                    <h2>2011-2015</h2>
                    <h5>Kecskeméti Főiskola GAMF kar</h5>
                    <p class="specialization">Mérnökinformatikus - Ipari informatika és mikrovezérlők</p>
                </div>
            </div>
        </div>
    </div>
</section>