$header-background: #0E4BF3;
$header-color: #1c3d91;
$education-section-color: rgb(211, 209, 209);
$background-white-color: #fff;
$timeline-circle-color: #FF9F55;

$colorScale-fallback : #f08b5a;
$colorScale-array :   #af0225,#d31121,#ec3023,#fa5c2e,#fd893c,#feab4b,  #fec966,  #64bc61,#23964f,#208145;